html {
  padding: 0;
  margin: 0;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

main {
  min-height: 70vh;
  
}

.my-3 {
  margin-top: 0! important;
}

#top-header {
  background-color: #0c0c0c;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

h6 {
  color: lightgray;
}

.no-border {
  border-bottom: 0;
}

.selected {
  border: 1px solid black;
}

.thumbnail {
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
}

.thumbnail:hover {
  opacity: 1;
}


.size-swatch {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  text-align: center;
  color: lightgray;
}

.size-swatch li {
  float: left;
  margin: 0 5px 0 0;
  min-width: 55px;
  max-width: 55px;
  height: 40px;
  position: relative;
  margin-top: 5px;
}

.size-swatch label,
.size-swatch input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.size-swatch input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}


.checked {
  color:black  !important;
  border: 1px solid black !important;
}

.size-swatch label {
  padding: 5px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  z-index: 90;
}

.size-swatch label:hover {
  color: black;
}

.btn-light {
  background-color: white !important;
}

.register-link {
  text-decoration: underline;
}

.register-link:hover {
  opacity: 60%;
  text-decoration: none;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: gray !important;
}

.nav-link.disabled {
  color: lightgray !important;
}

.order-card {
  min-height: 0;
}

.text-gray {
  color: lightgray;
}

.no-margins {
  margin: 0;
  padding: 0;
}

.order-details {
  cursor: pointer;
}

.order-details:hover {
  text-decoration: underline;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #373a3c;
}

.nav-pills .nav-link.active {
  color: white !important;
}

#order-card .card-header {
  background-color: white;
  color: black;
  border-radius: 0;
}

#order-card .card-header:hover {
  background-color: #373a3c;
  color: white;
  border-radius: 0;
}

.return {
  color: lightgray !important;
}

.return:hover {
  color: black;
}

.user-order-card.card {
  min-height: 50px;
  height: 20px;
}

.card {
  min-height: 0;
}

.card .card-header{
  background-color: white;
}

#user-list-accordion .card-header {
  background-color: white;
  color: black;
  border-radius: 0;
}

#user-list-accordion .card-header:hover {
  background-color: #373a3c;
  color: white;
  border-radius: 0;
}


.user-list-buttons {
  background-color: #373a3c;
}

footer {
  background-color: white;
  color: black;
}

.logo {
  width: 15rem;
  margin: 0;
  padding: 0;
}

.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}

.carousel-item:not(.carousel-caption):after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
  color: white;
}


.caption {
  color: white !important;
  z-index: 5 !important;
  top: 35%;
}

main.my-3 {
  margin-top: 0 !important;
}

.c-button {
  background-color: white;
  color: black;
  font-weight: 600;
  border: 0;
}

.category-card:hover {
  opacity:0.8;
  cursor: pointer;
}

hr {
  color: rgb(173, 173, 173);
}